:root {
    --primary: #1e4c04;
    --secondary: #f8f7f2;
    --mutedColor: #E8E8E8;
    --green-one: #38890a;
  
  }
  
  body {
    font-size: 12px !important;
    background-color: var(--secondary) !important;
  }
  
  a {
    text-decoration: none !important;
  }

.appBar {
    background-color: var(--secondary) !important;
    min-height: 50px;
    align-items: center;
    vertical-align: middle;
    border-bottom-color: #1e4c044a;
}

.appToolbar, .MuiToolbar-root{
    min-height: 50px !important;
}

.text-secondary{
    color:  var(--secondary) !important;
}

.text-primary{
    color:  var(--primary) !important;
}

.header-menu{
    color:  var(--primary) !important;
}

.header-menu:hover{
    color:  var(--green-one) !important;
}

.footer-link{
    color: var(--mutedColor) !important;
}

.title::after{
    content: '';
    display: block;
    width: 80px; 
    height: 2px; 
    background-color: var(--primary); 
    margin: 0 auto;
    margin-top: 16px;
}

.blog-subtitle {
    margin-left: 5px;
    color: grey;
}

.register-link {
    margin-left: 5px;
    font-size: 15px;
    color: var(--primary) !important;
    font-weight: bold;
}